.AppHeaderLogo {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: red;
    width: var(--sidemenu-width);
}

.text {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}
