.layout {
    height: calc(100vh);
    border-radius: 8px;
    overflow: hidden;
}

.header {
    height: var(--header-height);
    padding-inline: 0;
    line-height: var(--header-height);
    background-color: white;
    text-align: center;
}

.sider {
    height: var(--sidemenu_height);
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-left: var(--margin);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.content {
    height: var(--content-height);
    padding: 0;
    margin: var(--margin);
    border-radius: 8px;
}

.footer {
    padding: 0;
    height: var(--footer-height);
    width: 100%;
}
